// RESET
	*{
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	html, body{
	  font-family: 'Roboto', sans-serif;
	}
	ul{
		list-style: none;
	}
	a{
	  text-decoration: none;
	}

// COLORS
	$col-zemsania: #f57c00; // Corporative Orange
	$col-red: #EF5350;

// @MEDIAS
	$mobile: "(max-width: 767px)";
	$tablet: "(max-width: 1023px)";

// SIDEBAR
	#sidebar-wrapper{
		width: 230px;
		height: 100%;
		overflow: hidden;
		position: fixed;
		left: 0;
		top: 0;
	    z-index: 9999;
		background-color: #fff;
	    transition: all .6s;
	    background-color: #f4f4f4;
		letter-spacing: .03em;


	    @media #{$mobile}{
	        width: 50px;
	    }

		.sidebar-nav{
			position: fixed;
			height: 100%;
			width: 230px;
			overflow: hidden;
			background-color: #fff;
	        transition: all .6s;
	        background-color: #f4f4f4;
			padding-bottom: 42px;

	        @media #{$mobile}{
	            width: 50px;
	        }

			.sidebar-brand{
				// margin-bottom: 20px;
				height: 69px;
				position: relative;
				z-index: 1;
				top: 0;
				// padding: 17px;
	            padding-left: 8px;
	            // padding-top: 5px;
				// box-shadow: 0px 5px 10px 0px rgba(223, 223, 223, 0.67);

				// FLEX
				display: flex;
				flex-flow: row nowrap;
				align-items: center;

				@media #{$mobile}{
					padding-left: 5px;
					// padding-top: 0px;
					height: 50px;
				}

				.logo img{
			        width: 40px;
	                margin-left: 2px;

					@media #{$mobile}{
						width: 35px;
					}
			    }
	            .top-separator{
	                transition: all .6s;
	                margin-left: 10px;
	                @media #{$mobile}{
	                    margin-left: -251px;
	                }

	                a{
	    				font-weight: 600;
	    				font-size: 1.1em;
	    				color: $col-zemsania;
	    				transition: all .3s;

	    				&:after{
	    					content: '';
	    					height: 2px;
	    					background-color: lighten($col-zemsania,20%);
	    					display: block;
	    					width: 0;
	    					transition: all .3s;
	    				}
	    				&:hover:after{
	    					width: 100%;
	    				}
	    				&:hover{
	    					color: lighten($col-zemsania,20%);
	    				}
	    			}
	            }

			}

			.sidebar-mobile{
				// background-color: #fff;
	            // background-color: darken(#f4f4f4, 4%);
				height: calc( 100% - 50px );
				width: 247px;
				position: relative;
				overflow-y: scroll;
				transition: all .3s;

				// hide scrollbar
				// box-sizing: content-box;
				// padding-right: 17px;

				left: 0;
				overflow-x: hidden;

				&::-webkit-scrollbar {
				    display: none;
				}
				@media #{$mobile}{
					background-color: darken(#f4f4f4, 5%);
					> li{
						background-color: darken(#f4f4f4, 5%);
					}
				}
				&:hover{
					background-color: darken(#f4f4f4, 5%);
					> li{
						background-color: darken(#f4f4f4, 5%);
					}
				}

				li{
					padding-left: 12px;
	                // background-color: darken(#f4f4f4, 4%);
					transition: all .3s;
	                border-top: 1px solid #f4f4f4;
	                border-bottom: 1px solid #f4f4f4;
	                max-height: 44px;

					display: flex;
					flex-flow: row wrap;
					align-items: center;

					width: 230px;
					// width: calc( 100% + 17px );

					// &:nth-last-of-type(2){
					// 	margin-bottom: 40px;
					// }

	                @media #{$mobile}{
	                    padding-left: 8px;
	                }

					&:hover{
						// background-color: lighten($col-zemsania, 20%);
	                    border-top: 1px solid lighten($col-zemsania, 20%);
	                    border-bottom: 1px solid lighten($col-zemsania, 20%);
						i:before{
							color: $col-zemsania;
						}
					}
					i{
	                    display: block;
			            margin-right: 0;
						transition: all .3s;
	                    font-size: 18px;
	                    color: rgba(0, 0, 0, 0.54);

	                    // @media #{$mobile}{
	                    //     font-size: 22px;
	                    // }
			        }
					a{
					   display: inline-block;
					   font-size: 1em;
					   letter-spacing: .01em;
	                   margin-left: 0;
					   padding: 8px;
					   transition: all .3s;
					   cursor: pointer;

	                    @media #{$mobile}{
	                        padding: 7px;
	                    }

						&:hover{
							color: $col-zemsania;
						}
						&:hover:before{
							color: white;
							margin-right: 10px;
						}
					}
	                a[class*="item"]{
	                    @media #{$mobile}{
	                        // margin-left: -251px;
							// opacity: 0;
							// font-size: 15px;
							display: none;
	                    }
	                }

				}
				/*SIIDEBAR BOTTOM*/
				.bottom{
					padding-left: 12px;
					width: 230px;
					position: fixed;
					left: 0;
					bottom: 0;
					z-index: 1;
	                background-color: #f4f4f4;
	                // border-top: 1px solid $col-red;
	                transition: all .6s;

	                @media #{$mobile}{
	                    padding-left: 6px;
	                    width: 50px;
						background-color: #f4f4f4;
	                }

					&:hover{
						background-color: $col-red;
						a{
							color: white;
						}
	                    i:before{
	                        color: white;
	                    }
					}
					i{
						font-weight: 400;
						color: $col-red;
	                    // padding-left: 9px;
	                    margin-right: 0;
	                    // display: inline-block;
					}

					a{
						color: $col-red;
						font-weight: 400;
	                    display: inline-block;
					}

				}
				.link-active{
	                border-top: 1px solid lighten($col-zemsania, 20%);
	                border-bottom: 1px solid lighten($col-zemsania, 20%);
					a, i{
						color: $col-zemsania;
						font-weight: 400;
					}
				}
	            // MENU ICON
	            .menuIconWrapper{

	                display: flex;
	                flex-flow: row wrap;
	                align-items: center;

					width: calc( 100% + 17px );
	                background-color: white;
	                display: none;


	                @media #{$mobile}{
	                    display: block;
	                }

	                .menuIcon{
	                    // position: relative;
	                    display: inline-block;
	                    padding: 6px;
	                    padding-left: 17px;
	                    font-size: 24px;
	                    color: rgba(0, 0, 0, 0.54);
	                    cursor: pointer;
	                    transition: all .2s;

						@media #{$mobile}{
		                    padding-left: 13px;
		                }
	                    &:hover{
	                        color: lighten($col-zemsania, 20%);
	                    }
	                }
	            }
			} // cierre sidebar-mobile
		} // cierre sidebar-nav
	} // cierre wrapper

#mask{
	position: fixed;
    width: 100%;
    height: 100%;
	top: 0;
	left: 0;
    background-color: rgba(40, 40, 40, .8);
    transition: all .4s;
	z-index: 9998;
    display: none;
    cursor: pointer;

    &:hover{
        background-color: rgba(40, 40, 40, .7);
    }
}

// Clases medias js
.mar-l-0{margin-left: 0 !important;}
.mar-l-10{margin-left: 10px !important}
.mar-l-neg{margin-left: -251px}
.dsp-block{display: block !important;}
.dsp-none{display: none}
.wid-230{width: 230px !important;}
