<div class="comp-sb-sidebar-wrapper">
    <ul class="comp-sb-sidebar-nav">

        <div class="comp-sb-sidebar-brand">
            <!--Logo-->
            <li>
                <a class="logo" ui-sref="dashboard" title="{{'sidebar.dashboard' | i18next}}">
                    <img src="img/zemsania_cut.png" alt="Zemsania Logo">
                </a>
            </li>
            <!--User name-->
            <li class="comp-sb-top-separator">
                <a ui-sref="userProfile"  title="{{'sidebar.userProfile' | i18next}}">{{username.name + ' ' + username.surname}}</a>
            </li>
        </div>
        <div class="comp-sb-sidebar-mobile">
            <!--Hamburger menu icon-->
            <li class="menu-icon-wrapper">
                <a href="#"><em class="menuIcon mdi mdi-menu"></em></a>
                <a href="#" class="menu-text">Cerrar Menu</a>
            </li>

            <li ng-repeat="item in menu" ui-sref-active="link-active" role-auth="item.roleAuth">
                <div ui-sref="{{ item.url }}">
                    <a><em class="mdi" ng-class="item.icon"></em></a>
                    <a class="item">{{ item.title | i18next }}</a>
                </div>
            </li>

            <li>
                <div>
                    <a ng-href="{{ bugReportUrl }}" target="_blank"><em class="mdi mdi-bug"></em></a>
                    <a ng-href="{{ bugReportUrl }}" class="item" target="_blank">Reportar Bug</a>
                </div>
            </li>

            <li class="bottom">
                <div ng-click="changeState('logout')">
                    <a><em class="mdi mdi-logout-variant"></em></a>
                    <a class="item">{{'actions.logout' | i18next}}</a>
                </div>
            </li>

        </div>
        <br>
    </ul>
</div>
